.benefits {
  padding-bottom: 94px;
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    padding-bottom: 10px;
    @include font(700, 14px, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
  }

  &__text {
    @include font(400, 14px, 24px);
    letter-spacing: 0.03em;
    color: $secondary-color;
  }

  &__item::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &__item:nth-child(1)::before {
    content: "";
    background-image: url("../images/features/antenna.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item:nth-child(2)::before {
    content: "";
    background-image: url("../images/features/clock.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item:nth-child(3)::before {
    content: "";
    background-image: url("../images/features/diagram.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item:nth-child(4)::before {
    content: "";
    background-image: url("../images/features/astronaut.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
