.address__header {
  margin-left: auto;
}

.address__list {
  display: flex;
}

.address__item:not(:last-child) {
  margin-right: 50px;
}

.address__link {
  display: flex;
  @include font(500, 14px, 16px);
  letter-spacing: 0.02em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__link-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: $secondary-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .address__link:hover & {
    fill: $accent-color;
  }
  .address__link:focus & {
    fill: $accent-color;
  }
}

.address-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}

.footer-address__item {
  margin-bottom: 9px;
}

.footer-address__link-map {
  color: #ffffff;
}

.footer-address__link-phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address__link-mail {
  color: rgba(255, 255, 255, 0.6);
}
