.logo {
  font-family: $secondary-font;
  @include font(700, 26px, 31px);
  letter-spacing: 0.03em;
  color: $accent-color;

  &__text {
    color: #000000;
  }

  &__text--light {
    color: #ffffff;
  }
  &__header {
    margin-right: 93px;
  }

  &__footer {
    display: inline-block;
    margin-bottom: 20px;
  }
}
